<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui segment">

            <div class="ui minimal comments">
                <h3 class="ui dividing header">留言</h3>
                
                <% if (user) { %>
                <form class="ui reply form" method="post" action="/posts/<%= post._id %>/comment">
                    <div class="field">
                        <textarea name="content"></textarea>
                    </div>
                    <input type="submit" class="ui icon button" value="留言" />
                </form>
                <% } %>

                <%- include('limit-comments') %>

            </div>

            <div class="menu">
                <div class="item">
                    <button type="button" id="loadmore_comments">加载更多</button>
                </div>
            </div>

        </div>
    </div>
</div>