<div class="comment-box">
    <div class="comment-header">
        <span class="text-comment">留言</span>
    </div>

    <div class="comment-body ui minimal comments">
        <%- include('limit-comments') %>
        
        <div class="menu-load">
            <div class="item-load center" id="loadmore_comments">
                <span>----- 点击加载更多 -----</span>
            </div>
        </div>

        <% if (user) { %>
            <form class="ui reply form" method="post" action="/posts/<%= post._id %>/comment">
                <div class="field">
                    <textarea name="content"></textarea>
                </div>
                <input type="submit" class="ui icon button" value="留言" />
            </form>
        <% } %>
    </div>
</div>