<% if (success || error ) { %>    
    <div class="notice">
        <% if (success) { %>
        <div class="success-message">
            <span class="text-notice"><%= success %></span>
        </div>
        <% } %>

        <% if (error) { %>
        <div class="error-message">
            <span class="text-notice"><%= error %></span>
        </div>
        <% } %>
    </div>
<% } %>