<div class="user-info">
    <div class="user-info-avatar">
        <img src="/img/users_avatar/<%= author.avatar %>" alt="" class="img-info-avatar">
    </div>
    <div class="user-info-namegender center">
        <span><%= author.name%></span>
        <span>|</span>
        <% if( author.gender == 'f') { %>
            <span><i class="woman icon icon-gender"></i></span>
        <% } else { %>
            <span><i class="man icon icon-gender"></i></span>
        <% } %>
    </div>
    <div class="user-info-bio">
        <p class="text-biotitle">关于我:</p>
        <% if(author.bio) { %>
            <p class="text-bio">
                <%= author.bio%>
            </p>
        <% } else { %>
            <p class="text-bio">
                改用户很懒，什么简介都没写
            </p>
        <% }　%>
    </div>
</div>