<div class="user-info">
    <% var authorinfo =  JSON.parse(author);%>
    <div class="user-info-avatar">
        <img src="/img/users_avatar/<%= authorinfo.avatar %>" alt="" class="img-info-avatar">
    </div>
    <div class="user-info-namegender center">
        <span><%= authorinfo.name%></span>
        <span>|</span>
        <span><%= authorinfo.gender%></span>
    </div>
    <div class="user-info-bio">
        <p>
            <%= authorinfo.bio%>
        </p>
    </div>
</div>