<%- include('manage-header') %>
        <link rel="stylesheet" href="/css/blog-writing.css">
        <div id="main">
            <form class="form-writing" method="post" action="/posts" id="form1">
                <div class="box-title">
                    <label class="text-label">标题:</label>
                    <input type="text" name="title" class="input-text-long">
                </div>
                <div class="box-title">
                    <label class="text-label">标签:</label>
                    <input type="text" name="tags" class="input-text-long">
                </div>
                <div id="editormd" class="text-writing">     
                    <textarea name="content" style="display:none;">### Hello Editor.md !</textarea>
                </div>
                <input type="button" class="input-btn-long" value="保存" onclick="$('#form1').attr('action', '/posts?p=n').submit()">
                <input type="button" class="input-btn-long" value="发布" onclick="$('#form1').attr('action', '/posts?p=y').submit()">
            </form>
            <form class="form-writing" method="post" action="/posts" id="form2">
                <div class="box-title">
                    <label class="text-label">标题:</label>
                    <input type="text" name="title" class="input-text-long">
                </div>
                <div class="box-title">
                    <label class="text-label">标签:</label>
                    <input type="text" name="tags" class="input-text-long">
                </div>
                <div id="editornormal" class="text-writing">
                    <textarea name="content" id="" class="textarea-writing">### Hello Editor.md</textarea>
                </div>
                <input type="button" class="input-btn-long" value="保存" onclick="$('#form2').attr('action', '/posts?p=n').submit()">
                <input type="button" class="input-btn-long" value="发布" onclick="$('#form2').attr('action', '/posts?p=y').submit()">
            </form>
        </div>
<%- include('manage-footer') %>