<%- include('manage-header') %>
    <link rel="stylesheet" href="/css/email-setting.css">

    <div class="box">
        <div class="header">
            <h1>CSDN邮箱服务</h1>
            <h2>推送各种专注推送30年 (～￣▽￣)～</h2>
        </div>
        <div class="content">
            <% if(notice.ysuNotice==='y') { %>
            <form method="post" action="/manage/email?ysu=n">
                <p>您已订阅，如果取消订阅，您将无法享受燕山大学通知监控服务。</p>
                <input type="submit" class="input-btn-long ma-signin" value="取消订阅">
            </form>
            <% } else { %>
            <form method="post" action="/manage/email?ysu=y">
                <p>您还未订阅，订阅后您将享受到燕山大学通知监控服务。</p>
                <input type="submit" class="input-btn-long ma-signin" value="订阅">
            </form>
            <% } %>
            <% if(notice.replyNotice==='y') { %>
            <form method="post" action="/manage/email?reply=n">
                <p>您已订阅，如果取消订阅，您的文章被评论时，您将无法第一时间获取通知。</p>
                <input type="submit" class="input-btn-long ma-signin" value="取消订阅">
            </form>
            <% } else { %>
            <form method="post" action="/manage/email?reply=y">
                <p>您还未订阅，订阅后您将在第一时间获取别人对您的文章的评论。</p>
                <input type="submit" class="input-btn-long ma-signin" value="订阅">
            </form>
            <% } %>
            <% if(notice.pushNotice==='y') { %>
            <form method="post" action="/manage/email?push=n">
                <p>您已订阅，如果取消订阅，您将无法获取推送。</p>
                <input type="submit" class="input-btn-long ma-signin" value="取消订阅">
            </form>
            <% } else { %>
            <form method="post" action="/manage/email?push=y">
                <p>您还未订阅，订阅后您将获取推送。</p>
                <input type="submit" class="input-btn-long ma-signin" value="订阅">
            </form>
            <% } %>
        </div>
    </div>
<%- include('manage-footer') %>