<%- include('manage-header') %>
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/blog-sign.css">

    <div class="pure-u-1 pure-u-md-3-4 main">
        <div class="signin-header">
            <h1>YSUCSDN</h1>
            <h2>与世界分享你刚编的经历</h2>
        </div>
        <div class="content">
            <form method="post">
                <input placeholder="邮箱"  type="email" class="input-text-long ma-signup" name="email">
                <input type="submit" class="input-btn-long ma-signin" value="提交">
            </form>
        </div>
    </div>
<%- include('manage-footer') %>