<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>YSUCSDN</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/index-style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <img class="responsive-img logo-show" src="img/local/logo.jpg">
            <a id="logo-container" href="/mainpage" class="brand-logo">YSUCSDN</a>
            <% if (user) { %>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/posts/user?author=<%= user._id %>">欢迎,<%= user.name%></a></li>
                </ul>
            <% } else { %>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/signup">注册</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/signin">登录</a></li>
                </ul>
            <% }　%>
            <ul class="right hide-on-med-and-down">
                <li><a href="/posts">社区</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/mainpage">YSUCSDN</a></li>
                <% if (user) { %>
                    <li><a href="/posts/user?author=<%= user._id %>">欢迎,<%= user.name%></a></li>
                <% } else { %>
                    <li><a href="/signin">登录</a></li>
                    <li><a href="/signup">注册</a></li>
                <% } %>
                <li><a href="/posts">社区</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">燕山大学CSDN高校俱乐部</h1>
                <div class="row center">
                    <h5 class="header col s12 light">技术改变世界</h5>
                </div>
                <div class="row center">
                    <a href="/posts" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">进入社区</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/local/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <!--<h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>-->
                        <h2 class="center brown-text"><i class="material-icons">library_books</i></h2>
                        <h5 class="center">学习知识</h5>

                        <p class="light">学长学姐教授，讲解各种语言，框架，库的知识，在这里，你一定能学有所得</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">结交好友</h5>

                        <p class="light">还在抱怨生活中没有同样热爱编程的“道友”？在这里，你可以结交志同道合的朋友</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <!--<h2 class="center brown-text"><i class="material-icons">settings</i></h2>-->
                        <h2 class="center brown-text"><i class="material-icons">chat</i></h2>
                        <h5 class="center">交流平台</h5>

                        <p class="light">社团不只是学习的地方，更是一个交流的平台，知识的碰撞可以擦出更大的火花</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light"></h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/local/background2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>社团历史</h4>
                    <p class="left-align light">燕山大学CSDN高校俱乐部成立与2013年，是中国软件开发联盟CSDN发起的，隶属于信息科学与工程学院的技术类社团。我们的友情社团包括北京航空航天大学CSDN俱乐部、哈尔滨工业大学CSDN俱乐部等50余所。欢迎爱好编程、热爱编程的同学加入我们！！同时也欢迎那些不懂编程、恐惧计算机二级的同学</p>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="header center">
            <h4 class="h-head">社团日常</h4>
        </div>
        <div class="row">
            <div class="col l6 m6 s12"><img src="img/local/daily1.jpg" alt="Unsplashed background img 2" class="materialboxed responsive-img img-show"></div>
            <div class="col l6 m6 s12"><img src="img/local/daily2.jpg" alt="Unsplashed background img 2" class="materialboxed responsive-img img-show"></div>
            <div class="col l6 m6 s12"><img src="img/local/daily3.jpg" alt="Unsplashed background img 2" class="materialboxed responsive-img img-show"></div>
            <div class="col l6 m6 s12"><img src="img/local/daily4.jpg" alt="Unsplashed background img 2" class="materialboxed responsive-img img-show"></div>
        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">网站简介</h5>
                    <p class="grey-text text-lighten-4">一个业余时间顺手做的简陋网站，技术不精，深感惭愧。基于nginx + nodejs + mongodb。源码的github地址在旁边的“网站相关”列表中</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">网站相关</h5>
                    <ul>
                        <li><a class="white-text" href="https://github.com/bernardli/ysucsdn">github源码地址</a></li>
                        <li><a class="white-text" href="https://nodejs.org/en/">Nodejs</a></li>
                        <li><a class="white-text" href="https://www.mongodb.com/">MongoDB</a></li>
                        <li><a class="white-text" href="http://nginx.org/">Nginx</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">友情链接</h5>
                    <ul>
                        <li><a class="white-text" href="http://www.ysu.edu.cn/">燕山大学官网</a></li>
                        <li><a class="white-text" href="http://tieba.baidu.com/f?kw=%E7%87%95%E5%A4%A7&fr=wwwt">燕山大学贴吧</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                This page made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>

</body>

</html>