<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSDN主页</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="box--total">
            <div class="header">
                <div class="header-logo center">
                    <img src="img/local/logo.jpg" alt="">
                </div>
                <!--<div class="header-intro">
                    
                </div>-->
                <div class="header-news">
                    <strong><a href="">新闻</a></strong>
                </div>
                <div class="header-blog">
                    <strong><a href="/posts">文章</a></strong>
                </div>
                <div class="header-account">
                    <button type="">登录</button>
                    <button type="">注册</button>
                </div>
            </div>
            <div class="background center">
                <img src="img/local/csdn.jpg" alt="">
            </div>
            <div class="body">
                <div class="body-introbox center">
                    <div class="body-intro">
                        <div class="body-intro-text center">
                            <h1>It just work!</h1>
                        </div>
                        <div class="body-intro-button center">
                            <a href="" class="a-introbox"><strong>了解更多</strong></a>
                        </div>
                    </div>
                </div>
                <div class="body-newsbox">
                    <div class="body-news">
                        <div class="body-news-header">
                            <h3>DIY达人赛通知</h3>
                        </div>
                        <div class="body-news-body center">
                            <img src="/localimg/diy.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="body-articlebox">
                    <div class="body-article">
                        <div class="body-article-item">
                            <div class="article-item-author">
                                <div class="item-author-avatar center">
                                    <img src="img/local/avatar.jpg" alt="" class="img-article-avatar center">
                                </div>
                                <div class="item-author-name">
                                    <p>刘禹超</p>
                                </div>
                            </div>
                            <div class="article-item-text">
                                <div class="item-text-title">
                                    <h3>女装经验</h3>
                                </div>
                                <div class="item-text-detail">
                                    <p>2016年12月7日 阅读：80 评论：80</p>
                                </div>
                                <div class="item-text-body">
                                    <p>第二，样式是可以覆盖的，而且先按照权重，再按照定义
                                    的先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就
                                    给你干掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先
                                    的样式有了冲突。第二，样式是可以覆盖的，而且先按照权重，再按照定义的
                                    先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就给你干
                                    掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先的样式有了冲突。</p>
                                </div>
                            </div>
                        </div>
                        <div class="body-article-item">
                            <div class="article-item-author">
                                <div class="item-author-avatar center">
                                    <img src="img/local/avatar.jpg" alt="" class="img-article-avatar center">
                                </div>
                                <div class="item-author-name">
                                    <p>长者</p>
                                </div>
                            </div>
                            <div class="article-item-text">
                                <div class="item-text-title">
                                    <h3>题目</h3>
                                </div>
                                <div class="item-text-detail">
                                    <p>2016年12月7日</p>
                                </div>
                                <div class="item-text-body">
                                    <p>第二，样式是可以覆盖的，而且先按照权重，再按照定义
                                    的先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就
                                    给你干掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先
                                    的样式有了冲突。第二，样式是可以覆盖的，而且先按照权重，再按照定义的
                                    先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就给你干
                                    掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先的样式有了冲突。</p>
                                </div>
                            </div>
                        </div>
                        <div class="body-article-item">
                            <div class="article-item-author">
                                <div class="item-author-avatar center">
                                    <img src="img/local/avatar.jpg" alt="" class="img-article-avatar center">
                                </div>
                                <div class="item-author-name">
                                    <p>长者</p>
                                </div>
                            </div>
                            <div class="article-item-text">
                                <div class="item-text-title">
                                    <h3>题目</h3>
                                </div>
                                <div class="item-text-detail">
                                    <p>2016年12月7日</p>
                                </div>
                                <div class="item-text-body">
                                    <p>第二，样式是可以覆盖的，而且先按照权重，再按照定义
                                    的先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就
                                    给你干掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先
                                    的样式有了冲突。第二，样式是可以覆盖的，而且先按照权重，再按照定义的
                                    先后顺序。也许你花了十分钟设计定义的一个class样式，人家分分钟就给你干
                                    掉了，这得多恼火；也许这个页面好好的，跑到另一个页面就跟原先的样式有了冲突。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-links">
                    <div class="footer-links-text center">
                        <span>友情链接</span>
                    </div>
                    <div class="footer-links-item center">
                        <a href="http://www.ysu.edu.cn/">燕山大学</a>
                    </div>
                    <div class="footer-links-item center">
                        <a href="http://www.ysu.edu.cn/">燕山大学</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>