<%- include('manage-header') %>
        <link rel="stylesheet" href="/css/blog-user.css">
        <div id="main" class="main">
            <!-- 草稿部分 -->
            <div class="posts">
                <h1 class="content-subhead">未发布文章</h1>
                <div class="pure-g">
                    <% drafts.forEach(function (post) { %>
                        <%- include('components/posts-content--user', { post: post,publish:0 }) %>
                    <% }) %>
                </div>

            </div>

            <!-- 已发布部分 -->   
            <div class="posts">
                <h1 class="content-subhead">最新文章</h1>
                <div class="pure-g limit-post-content">
                    <%- include('components/limit-posts-user', { posts: posts }) %>
                </div>
            </div>
   
            <% if(posts.length==5){ %>
                <div class="menu-load">
                    <div class="item-load center" id="loadmore_posts">
                        <span class="text-load">----- 点击获取人生经验 ヾ(≧O≦)〃吼不吼啊~ -----</span>
                    </div>
                </div>
            <% } else { %>
                <div class="menu-load">
                    <div class="item-load center" id="no_posts">
                        <span class="text-load">----- 没有文章了/(ㄒoㄒ)/~~ -----</span>
                    </div>
                </div>
            <% } %>
        </div>
<%- include('manage-footer') %>