<%- include('blog-header') %>

    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/blog-sign.css">

    <div class="pure-u-1 pure-u-md-3-4 main">
        <div class="signin-header">
            <h1>YSUCSDN</h1>
            <h2>与世界分享你刚编的经历</h2>
        </div>
        <div class="content">
            <form method="post">
                <input placeholder="密码"  type="password" class="input-text-long ma-signup" name="password">
                <input placeholder="重复密码"  type="password" class="input-text-long ma-signup" name="repassword">
                <input type="submit" class="input-btn-long ma-signin" value="找回密码">
            </form>
        </div>
    </div>
<%- include('blog-footer') %>