<%- include('header') %>

<div class="limit-post-content">
<%- include('components/limit-post-content', { posts: posts }) %>
</div>

<div class="menu">
    <div class="item">
        <button type="button" id="loadmore_posts">加载更多</button>
    </div>
</div>

<%- include('footer') %>