<%- include('blog-header') %>

<div class="posts">
    <h1 class="content-subhead">置顶文章</h1>
</div>


<div class="posts limit-post-content">
    <h1 class="content-subhead">最新文章</h1>
    <%postNum = 0%>
    <%- include('components/limit-post-content', { posts: posts }) %>
</div>

<% if(posts.length==5){ %>
<div class="menu-load">
    <div class="item-load center" id="loadmore_posts">
        <span class="text-load">----- 点击获取人生经验 ヾ(≧O≦)〃吼不吼啊~ -----</span>
    </div>
</div>
<% } else { %>
<div class="menu-load">
    <div class="item-load center" id="no_posts">
        <span class="text-load">----- 没有文章了/(ㄒoㄒ)/~~ -----</span>
    </div>
</div>
<% } %>


<%- include('components/back-to-top') %>

<%- include('blog-footer') %>