<%- include('header') %>

<%- include('components/user-info', { author: author }) %>

<div class="limit-post-content">
<%- include('components/limit-post-content', { posts: posts }) %>
</div>

<% if(posts.length == 0) { %>
        <div class="eight wide column">
            <div class="ui segment">
                该用户毛都没写
            </div>
        </div>
<% } %>

<div class="menu">
    <div class="item">
        <button type="button" id="loadmore_user">加载更多</button>
    </div>
</div>

<%- include('footer') %>