* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}


/* LAYOUT CSS */

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-avatar {
    border-radius: 50%;
    float: right;
    margin-left: 1em;
    /*border: 2px solid #26a69a;*/
}

.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-category-design {
    background: #5aba59;
}

.post-category-pure {
    background: #4d85d1;
}

.post-category-yui {
    background: #8156a7;
}

.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}

.footer a {
    color: #ccc;
    font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .header {
        margin: 40% 2em 0;
        text-align: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .footer {
        text-align: center;
    }
}


/*自加的*/

.post-user-info {
    margin: 20px auto;
}

.user-avatar {
    border-radius: 50%;
}

.text-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    display: block;
}

.text-tagline {
    margin: 0;
    font-weight: 300;
    color: rgb(176, 202, 219);
    font-size: 1.5em;
    display: block;
}

.dropdown {
    color: white;
    width: 60px;
    height: 20px;
}

.dropdown-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: #26a69a;
    cursor: pointer;
}

.menu {
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.menu-show {
    display: block;
}


/*.dropdown:hover .menu {
    display: block;
}*/

.item {
    width: 100%;
    height: 30px;
    display: block;
}

.item:hover {
    background-color: #f1f1f1
}

.item a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: black;
}


/*提示框*/

.notice {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    top: 20px;
    z-index: 99;
}

.success-message {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: #FCFFF5;
    color: #51BA52;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #51BA52;
}

.error-message {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: #FCFFF5;
    color: #ee2c2c;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #ee2c2c;
}

.text-notice {
    margin: auto;
}

@media (max-width: 48em) {
    /*大屏幕的时候*/
    .success-message,
    .error-message {
        width: 80%;
    }
}


/*提示框*/

.post-search {
    margin: 5% 2em 0;
    text-align: right;
}

.input-search {
    display: inline-block;
    border-radius: 5%;
    width: 77%;
    /*min-width: 100px;*/
    height: 30px;
    padding: 0px;
    margin: 0px !important;
    /*padding: .5em 1em;*/
    color: black;
}

.btn-search {
    /*min-width: 45px;*/
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    margin-left: 3%;
    color: white;
    /*border: 1px solid #999;*/
    border: transparent;
    background-color: #426A89;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}

.form-search {
    display: flex;
    opacity: 0.3;
    transition: all 1s;
}

.form-search:hover {
    opacity: 1;
}

.menu-load {
    width: 100%;
    height: 30px;
}

.item-load {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
    font-size: 20px;
    color: #c1c1cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-load:hover {
    background-color: #f7f4f4;
}

.item-load--nomore {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #c1c1cb;
    display: flex;
    justify-content: center;
    align-items: center;
}