body {
    color: #777;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.signin-header,
.signup-header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.signup-header {
    padding: 2em 2em 0;
}

.signin-header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 400;
}

.signin-header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.signup-header h1 {
    margin: 0.1em 0;
    font-size: 3em;
    font-weight: 400;
}

.signup-header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

@media (min-width: 48em) {
    .sigle-header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
    .main {
        margin-left: 25%;
    }
}

.input-text-long {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 80%;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    display: block;
}

.input-text-long:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.input-btn-long {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 35px;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

.input-btn-long:hover {
    background-color: #2bbbad;
}

.input-btn-long:focus {
    background-color: #1d7d74;
}

.ma-signin {
    margin: 30px auto 0 auto;
}

.ma-signup {
    margin: 10px auto 0 auto;
}

.form-select {
    display: block;
    height: auto;
    width: 80%;
    margin: 20px auto 0 auto;
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    padding: .62em 1em;
    color: rgba(0, 0, 0, .87);
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;
    cursor: pointer;
}

.form-select:hover {
    border-color: rgba(34, 36, 38, .35);
    box-shadow: none;
}

.form-select:focus {
    border-color: #96C8DA;
    box-shadow: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.form-dropdown {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-width: 14em;
    min-height: 2.7142em;
    background: #FFF;
    display: inline-block;
    padding: .78571429em 2.1em .78571429em 1em;
    color: rgba(0, 0, 0, .87);
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease, width .1s ease;
    transition: box-shadow .1s ease, width .1s ease;
}

.box-textarea {
    width: 80%;
    margin: 20px auto 0 auto;
    height: auto;
}

.form-textarea {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 6rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
    padding: 5px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.form-label {
    font-size: 0.8rem;
}

.box-avatar {
    width: 80%;
    margin: 20px auto 0 auto;
    height: auto;
}

.input-file {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #9e9e9e;
}