.box {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 1000px;
}

.input-btn-long {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 35px;
    margin: 0 auto;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

p {
    text-align: center;
}