/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    .teal-text {
        font-size: 50px;
    }
    .logo-show {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .teal-text {
        font-size: 40px;
    }
    .logo-show {
        display: none;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.pic-container {
    display: flex;
    justify-content: space-between;
}

.pic-item {
    max-width: 240px;
}

.h-head {
    color: black;
    margin: 5px 0 20px 0;
}

.img-show {
    /*min-height: 200px;*/
    /*width: 90%;*/
    margin: 10px 0;
}

.logo-container {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.logo-show {
    max-height: 80%;
    margin-top: 7px;
    margin-right: 5px;
    /*height: 100%;*/
}