/*posts页面公共部分css*/

.post-content-pre {
    max-height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.limit-post-content {
    width: 1000px;
    height: auto;
    margin: 40px auto 0px auto;
    /*display: flex;*/
    /*background-color: red;*/
    /*justify-content: center;*/
}

.post-content {
    display: flex;
}

.post-left {
    justify-content: flex-start;
}

.post-right {
    justify-content: flex-end;
}

.post-center {
    justify-content: center;
}

.body-article-item {
    display: flex;
    width: 900px;
    height: auto;
    min-height: 330px;
    max-height: 400px;
    margin: 10px 0px;
    background-color: white;
    box-shadow: 1px 4px 10px #505054;
    position: relative;
}

.body-article-item::before {
    content: "";
    display: block;
    width: 60px;
    height: 100px;
    background-color: #c1c3f6;
    box-shadow: 4px 6px 10px #505054;
    z-index: -2;
    transform: skewY(-15deg);
    top: -9px;
    position: absolute;
}

.article-item-author {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.article-item-author-avatar {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.img-author-avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #38B7EA;
}

.article-item-author-name {
    margin: 5px 0px;
    border-bottom: 1px solid #333131;
}

.text-authorname {
    font-size: 20px;
}

.article-item-author-bio {
    width: 100%;
    display: flex;
    margin: 10px 0px;
    justify-content: center;
}

.text-authorbio {
    display: block;
    width: 80%;
    overflow: hidden;
}

.article-item-content {
    width: 680px;
    height: 100%;
}

.article-item-content-title {
    margin: 20px;
}

.text-article-title {
    font-size: 30px;
    color: #4fc08d;
    text-decoration: none;
}

.article-item-content-text {
    width: 100%;
    height: 200px;
    border-top: 2px solid #333131;
}

.text-article-content {
    width: 640px;
    height: 160px;
    font-size: 20px;
    word-break: break-all;
    max-height: 160px;
    min-height: 160px;
    max-width: 640px;
    min-width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 20px;
}

.article-item-content-footer {
    display: flex;
    height: 20px;
    margin: 10px 20px;
}

.text-article-info {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
}

.text-article-info:first-child {
    margin-right: auto;
}

.body-article-footer {
    display: flex;
    width: 900px;
    justify-content: flex-end;
}

.link-morearticles {
    display: flex;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: #FAA531;
    color: white;
    margin: 10px;
    text-decoration: none;
}


/*posts页面用户个人部分css*/

.user-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-avatar {
    width: 100px;
    height: 100px;
}

.img-info-avatar {
    width: 100%;
    height: 100%;
}

.user-info-namegender {
    width: auto;
    height: 100px;
    font-size: 20px;
    color: #4fc08d;
}

.user-info-bio {
    width: 500px;
    height: 120px;
    color: #999;
}


/*底部加载更多按钮*/

.menu-load {
    width: 100%;
    height: 100px;
}

.item-load {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
    font-size: 30px;
    color: #c1c1cb;
}

.item-load:hover {
    background-color: #f7f4f4;
}