.setting-box--all {
    /*搭配Semantic-UI*/
    margin: 20px auto;
    max-width: 800px;
}

.setting-box--large {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.setting-box--small {
    width: 200px;
    height: auto;
    margin: 0px auto 0px 20px;
}

.user-avatar {}

.form-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-avatar {
    font-size: 20px;
    color: #4fc08d;
    align-self: flex-start;
}

.img-setting-avatar {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #4fc08d;
}

.input-avatar--file {
    /*搭配Semantic-UI*/
    margin: 10px 0px;
    width: 100%;
    padding: 5% 2%;
    border-radius: 5%;
    border: 1px solid #999;
}

.input-avatar--submit {
    /*搭配Semantic-UI*/
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    height: 35px;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

.input-password-submit {
    width: 50%;
    margin: 10px auto 0 0;
    height: 35px;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

.user-name {}

.user-password {
    max-width: 400px;
    height: auto;
    margin: 0px 20px;
}

.text-password {
    display: block;
    color: #4fc08d;
    font-size: 20px;
    margin: 10px 0px;
}

.user-password-input {
    width: 100%;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.2142em;
    padding: .67861429em 1em;
    font-size: 1em;
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;
}

.user-password-input:focus {
    color: rgba(0, 0, 0, .95);
    border-color: #85B7D9;
    border-radius: .28571429rem;
    background: #FFF;
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset;
}

.form-bio {
    display: flex;
    flex-direction: column;
}

.form-bio label {
    font-size: 20px;
    color: #4fc08d;
    align-self: flex-start;
    display: block;
    margin: 5px 0;
}

.form-bio textarea {
    width: 98%;
    min-height: 300px;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 6rem;
    background-color: transparent;
    border: 1px solid rgba(34, 36, 38, .15);
    /*border-bottom: 1px solid #9e9e9e;*/
    border-radius: 1%;
    outline: none;
    font-size: 1rem;
    padding: 5px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.input-bio--submit {
    width: 50%;
    margin: 10px 0 0 auto;
    height: 35px;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
}

@media (min-width: 48em) {
    .setting-box--large {
        flex-direction: row;
    }
}