/* ---------- 全局样式 ---------- */

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*a:hover {
    border-bottom: 3px solid #4fc08d;
}*/

.button {
    background-color: #4fc08d !important;
    color: #fff !important;
}

.avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    float: right;
}

.top {
    width: 100%;
    height: 80px;
    display: block;
}

.blur {
    width: 100%;
    height: 80px;
    position: fixed;
    display: block;
    background-color: white;
    filter: opacity(80%);
    z-index: 900;
}


/* ---------- notification ---------- */

.notice {
    margin-top: 20px !important;
}


/* ---------- nav ---------- */

.nav {
    margin-bottom: 20px;
    color: #999;
    text-align: center;
}

.nav h1 {
    color: #4fc08d;
    display: inline-block;
    margin: 10px 0;
}


/* ---------- nav-setting ---------- */

.nav-setting {
    position: fixed;
    right: 30px;
    top: 25px;
    z-index: 999;
}

.nav-setting .ui.dropdown.button {
    padding: 10px 10px 0 10px;
    background-color: #fff !important;
}

.nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
}

.text-navsetting {
    color: #272727;
    font-size: 16px;
}


/* ---------- header ---------- */

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    z-index: 950;
    box-shadow: 0px 2px 5px #f1efef;
}

.header-logo {
    margin: auto 50px auto 120px;
    width: 200px;
    height: 60px;
    overflow: hidden;
}

.header-item {
    color: #b6b6b6;
    margin: auto 0px;
    height: 100%;
    width: 120px;
}

.link-header-item {
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: #888;
    transition: all 0.5s;
    text-decoration: none;
}

.link-header-item:hover {
    color: black;
    background-color: #fbfbfb;
}

.form-search {
    display: flex;
}

.text-search {
    /*搭配*/
    width: 150px !important;
    height: 30px;
    margin: 5px !important;
}

.button-header-search {
    display: block;
    width: 50px;
    /*height: 30px;*/
    font-size: 25px;
    color: #888 !important;
    background-color: white !important;
}


/* ---------- post-content ---------- */

.post-content h3 a {
    color: #4fc08d !important;
}

.post-content .tag {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
}

.post-content .tag.right {
    float: right;
    margin-right: 0;
}

.post-content .tag.right a {
    color: #999;
}


/* ---------- back-to-top ---------- */

#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}

#rocket-to-top .level-2 {
    background: url("../img/backtotop/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 250px;
    opacity: 0;
    z-index: 1;
}

#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}

#rocket-to-top {
    background: url("../img/backtotop/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 250px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 80%;
    width: 149px;
    z-index: 11;
}


/* ---------- create || edit ---------- */

.form-writing {
    display: flex;
    flex-direction: column;
}

.text-writing {
    min-height: 500px;
}

.button-publish {
    width: 200px;
    align-self: flex-end;
}

.panel-writing {
    width: 1200px;
    margin: 20px auto !important;
}